<!DOCTYPE html>
<html>
<head>
  <title>News Portal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<%= link_to "News Portal", root_path, class: "navbar-brand" %>
			</div>
			<ul class="navbar-nav nav">
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
				<% else %>	
					<li><%= link_to "Log In", new_user_session_path %></li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<p><%= link_to "Add News", new_message_path, class: "navbar-text navbar-link navbar-right" %></p>
			<% end %>
		</div>
	</nav>
	<h3>You Must Be A Registered User To View News</h3>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div class="container">
		<%= yield %>
	</div>
	<br>
			<footer>
				<div class="container">
					<p class="text-center">Copyright &copy 2016, Biplov Koirala</a> - All Rights Reserved</p>
				</div>
			</footer>

</body>
</html>
